@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); 

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.link-custom {
   
  background-position-y: -0%;
  background-image: linear-gradient(180deg, transparent 50%, black 50%) !important;
  transition: all 0.1s ease;
  background-size: 2px;
  background-size: auto 190%;
  padding: 3px 0;
  text-decoration: none;
  color: inherit;


/*  optional  */
  font-family: 'Inter', sans-serif;
/*  any font size will do  */
  font-size: 30px; 
}

.hover-custom {
    background-position-y: 100%;
    color: white;
    transition: all 0.1s ease;

}
